.careers {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 5%;
}

.careerInfo {
  background-color: lightblue;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease; /* 애니메이션 효과 추가 */
  cursor: pointer;
}

.careerInfo:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.popup {
  display: none;
  position: absolute;
  top: 80%;
  left: 150%;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 200;
  white-space: normal;
  width: 30vw;
}

.careerInfo:hover .popup {
  display: block;
}
