.careers {
  padding-bottom: 20px;
}

.careerBox {
  background-color: rgb(158, 158, 94);

  margin-bottom: 22px;
  padding: 0px 0px 10px 20px;

  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(246, 243, 243, 0.1);
  line-height: 23px;
  font-size: 15px;
}

.careerTitle {
  display: flex;
  align-items: center;

  gap: 7px;
}
