.experience {
  padding-bottom: 20px;
}

.experienceBox {
  margin-bottom: 22px;
  padding: 0px 0px 10px 20px;

  line-height: 23px;
  font-size: 15px;
  border: 1px solid beige;
  border-radius: 5px;
}

.experienceTitle {
  display: flex;
  align-items: center;

  gap: 7px;
}
