.project {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding-bottom: 20px;
}

.projectBox {
  position: relative;

  width: 20vw;
  height: 40vh;

  background-color: aliceblue;
  color: #23272f;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  flex-direction: column;

  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;

  padding-top: 20px;

  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  white-space: nowrap;
  text-decoration: none;

  cursor: pointer;

  opacity: 0.8;
}

.projectBox:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 100;

  text-decoration: none;

  opacity: 1;
}

.projectBox img {
  max-width: 67%;
}

.projectBox h6 {
  color: #2f2e2e;
}
