.container {
  width: 60%;
  padding: 10px 40px;

  margin: auto;

  color: rgb(76, 74, 74);

  border-radius: 60px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 11px 11px 22px #9b9b9b, -11px -11px 22px #ffffff;
}

.container h1 {
  color: black;

  margin-bottom: 0px;
  font-size: 50px;
}

.projectSubtitle {
  display: flex;

  margin: auto;

  color: rgb(31, 31, 31);

  gap: 10px;
}

.projectUrl {
  margin-top: 22px;
}

.projectSkill {
  margin: auto;
}

.projectRole {
  padding: 20px 0px;
}

.projectRole li {
  margin: 10px 0px;

  line-height: 23px;
}
