.project {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  cursor: pointer;
  padding-top: 100px;
}

.projectBox {
  background-color: lightskyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.projectBox:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
